<div class="m-5">
<h1 class="m-2">Add Movie</h1>
<br>
<%= simple_form_for(@movie) do |f| %>
  <%= f.input :title %>
  <%= f.input :overview %>
  <%= f.input :poster_url %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>

<br>
<p><%= link_to 'Back To Main Page', lists_path, class:"btn btn-primary pt-10" %> <i class="fa-solid fa-house-crack"></i></p>
</div>
